.Contact-Us{
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  .footer{
    width: 100%;
  }
  .confirm{
    flex: 1;
    width: 1000px;
    margin: auto;
    padding: 0 40px;
    border: 1px solid  #E4E4E4;
    position: relative;
    .block{
      .title{
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px dotted #656565;
      }
    }
    .form-name{
      margin-top: 15px;
      border: 1px solid #E4E4E4;
      display: flex;
      .name{
        display: flex;
        justify-content: start;
        background-color: #F4F4F4;
        height: 50px;
        width: 250px;
        align-items: center;
        border: solid  #E4E4E4;
        border-width:0px 1px 0px 0px;
        padding-left: 15px;
      }
      .right{
        margin: 7px;
        width: 650px;
        padding: 5px;
      }
    }
    .form-email{
      border-right: 1px solid #E4E4E4;
      border-left: 1px solid #E4E4E4;
      display: flex;
      .email{
        display: flex;
        justify-content: start;
        background-color: #F4F4F4;
        height: 50px;
        width: 250px;
        align-items: center;
        border: solid  #E4E4E4;
        border-width:0px 1px 0px 0px;
        padding-left: 15px;
      }
      .right{
        margin: 7px;
        width: 650px;
        padding: 5px;
      }
    }
    .form-content{
      border: 1px solid #E4E4E4;
      display: flex;
      .content{
        display: flex;
        justify-content: start;
        background-color: #F4F4F4;
        height: 160px;
        width: 250px;
        align-items: center;
        border: solid  #E4E4E4;
        border-width:0px 1px 0px 0px;
        padding-left: 15px;
      }
      .right{
        margin: 5px;
        width: 650px;
        padding: 5px;
      }
    }
    .btn{
      background-color: #66CCFF;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      border-radius: 3px;
      border-style: solid; border-color: #66CCFF;
      padding: 15px 90px;
      display: flex;
      margin: auto;
      margin-top: 30px;
    }
    .back{
      display: flex;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 10px 50px;
      background-color: #F0F0E8;
      font-weight: bold;
      font-size: 17px;
      border-radius: 3px;
      border-style: solid; border-color: #F0F0E8;
    }
  }
}