.reservations-header
  .header
    .container 
      .title
        French restaurant
      .name
        = link_to 'Gargotier', root_path, class: 'btn'

    .Contents
      .Contents__message
      = link_to image_tag("/assets/icon_instagram", width: '40', alt: "サンプル画像", class: "icon"), "https://www.instagram.com/"
      = link_to image_tag("/assets/icon_facebook.png", width: '40', alt: "サンプル画像", class: "icon"), "https://www.facebook.com/"
      = link_to image_tag("/assets/icon_twitter", width: '40', alt: "サンプル画像", class: "icon"), "https://twitter.com/"