.reservations-header
  .header
    .container 
      .title
        French Restaurant
      .name
        = link_to 'Gargotier', root_path, class: 'btn'

    .Contents
      .Contents__message
      = link_to image_tag("icon_instagram.jpg", width: '40', alt: "サンプル画像1", class: "icon"), "https://www.instagram.com/"
      = link_to image_tag("icon_facebook.jpg", width: '40', alt: "サンプル画像2", class: "icon"), "https://www.facebook.com/"
      = link_to image_tag("icon_twitter.jpg", width: '40', alt: "サンプル画像3", class: "icon"), "https://twitter.com/"