.completes
  .header
    = render "reservations-header"

  .main-complete
    .main-block
      .title French restaurant Gargotier ご予約
      .tag
        .around 入力画面
        .around-border 
        .other 確認画面
        .other-border 
        .complete ご予約完了

      .reservation-bar
        .reservation-content ご予約申込の完了
      .content 
        %p ご予約有り難う御座いました。
        %p ご確認メールをお送りしましたので、予約内容を必ずご確認ください。
        %p ご来店を心からお待ちしております。

      = link_to "トップページへ戻る", root_path, class: "btn"

  .footer
    = render "reservations-footer"

