.main-header
  .container 
    .title
      French Restaurant
    .name
      Gargotier
  .menuber
    %a.menuber__home{:href => "#Home"} Home
    %a.menuber__home{:href => "#Menu"} Menu
    %a.menuber__home{:href => "#Reservation"} Reservation
    %a.menuber__home{:href => "#Access"} Access

  :javascript
    $(function(){
      $('a[href^="#"]').click(function() {
        var adjust = -90;
        var speed = 400;
        var href= $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top + adjust;
        $('body,html').animate({scrollTop:position}, speed, 'swing');
        return false;
      });
    });

  .Contents
    .Contents__message
      = link_to image_tag("icon_instagram.jpg", width: '40', alt: "サンプル画像1", class: "icon"), "https://www.instagram.com/"
      = link_to image_tag("icon_facebook.jpg", width: '40', alt: "サンプル画像2", class: "icon"), "https://www.facebook.com/"
      = link_to image_tag("icon_twitter.jpg", width: '40', alt: "サンプル画像3", class: "icon"), "https://twitter.com/"
