* {
  box-sizing: border-box;
}

.main{
  font-family: Arial,Helvetica,sans-serif;
  width: 100%;
  height: 100vh;
  .swiper-container{
    width: 100%;
    padding-top: 100px;
    z-index: 20;
    .swiper-wrapper{
      .swiper-slide{
        .icon{
          width: 100%;
          height: 600px;
        }
      }
    }
    .swiper-button-prev{
      padding-top: 240px;
    }
    .swiper-button-next{
      padding-top: 240px;
    }
  }
  
  .messages {
    text-align: center;
    margin: 30px 0 20px 0;
    .coment {
      .coment-top {
        font-size: 50px;
        font-family: 'Caveat', cursive;
      }
      .coment-under{

        font-size: 13px;
      }
    }
    .message {
      margin: 0 30px;
      overflow: auto;
    }
  }



  .menu{
    max-width: 1000px;
    margin: auto;
    font-family: Century,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","游明朝",YuMincho,"HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
    .title{
      font-size: 50px;
      margin: 40px 0 20px 0;
      font-family: 'Caveat', cursive;
      text-align: center;
    }
    .block-frame{
      margin-bottom: 100px;
      border-width: 3px;
      padding: 5px;
      border: 2px solid rgb(165,131,0);
      .block-frame-inner{
        position: relative;
        border: 1px solid rgb(165,131,0);
        .logo{
          border-width: 170px 170px 0 0;
          border-color: rgb(165,131,0) transparent transparent transparent;
          display: block;
          position: absolute;
          z-index: 1;
          border-style: solid;
          
          .inner{
            top: -125px;
            font-size: 30px;
            position: absolute;
            left: 12px;
            z-index: 2;
            color: #fff;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 800;
          }
          .inner-lunch{
            top: -124px;
            font-size: 30px;
            position: absolute;
            left: 20px;
            z-index: 2;
            color: #fff;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 800;
          }
        }
        .block-frame-text{
          max-width: 600px;
          margin: auto;
          .mark{
            text-align: center;
            font-size: 24px;
            padding: 60px 0 30px;
            &__title-header{
            }
            &__title-footer{
            }
            &__title-price{
              display: flex;
              justify-content: center;
              align-items: flex-end;
              border-bottom:1px solid rgb(165,131,0);
              padding-bottom: 15px;
              &__tex{
                font-size: 12px;
                padding-bottom: 5px;
              }
            }
          }

          .menu-detail{
            &__item{
              text-align: center;
              padding-bottom: 20px;
              &__title{
                font-size: 20px;
                color: rgb(165,131,0);
              } 
              &__details{
                font-size: 15px;
                padding-top: 6px;
              }
            }
          }
          .dinner-btn{
          }
        }
      }
    }
  }
  


  #calendar {
    margin: 0 auto;
    width: 700px;

    text-align: center;

    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
   }














  .about{
    text-align: center;
    margin: 30px 0 10px 0;
    color: #656565;
    .name{
      font-family: 'Caveat', cursive;
      font-size: 30px;
      padding-bottom: 20px;
      .first-name{

      } 
      .family-name{

      }

    }
    .address{
      padding-bottom: 20px;
      &__header{

      }
      &__footer{

      }

    }
    .number{
      padding-bottom: 20px;

    }
    .access{
      padding-bottom: 20px;

      &__header{

      } 
      &__footer{

      }
      &__header-english{

      }
      &__footer-english{

      }
    }
    .remark{
      padding-bottom: 20px;
      color: #8B0000;
      &__header{

      }
      &__footer{
      }
    }
  }










  .map-title{
    text-align: center;
    font-size: 50px;
    margin: 40px 0 20px 0;
    font-family: 'Caveat', cursive;
  }
  .map-google{
    display: flex;
    justify-content: center;
    #map {
      width: 1000px;
      height: 500px;
    }
    div{
      font-Weight: bold;
    }
  }
}
