.main-header{
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  z-index: 30;
  margin: auto;
  width: 100%;
  box-shadow:0px 0px 10px 0px;
  height: 104px;
  .container{
    font-size: 50px;
    font-family: 'Caveat', cursive;
    padding-right: 40px;
    .title{
      font-size: 25px;
      padding-left: 16px ;
      margin-top: 6px;
    }
    .name{
      font-size: 50px;
    }
  }
  .menuber{
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    padding-bottom: 7px;
    &__home{
      padding-right: 54px;
      text-decoration: none;
      color: #656565;
      font-family: 'Caveat', cursive;
    }
  } 
  .Contents{
    display: flex;
    align-items: flex-end;
    .icon{
      padding-left: 10px;
      padding-bottom: 5px;
    }
  }
}

