.main-footer{
  text-align: center;
  padding-top: 30px;
  background-color: #656565;

  width: 100%;
  height: 100px;
  .title{
    color: #fff;

  }
  .number{
    padding-top: 13px;
    color: #fff;

  }

}